.header {
  grid-area: header;
  background-color: #1ECBFD;
  img {
    width: 40px;
  }
}
.log_out {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  background-color: #940000;
  color: #fff;
}